{% extends 'base.html' %}

{% block content %}
    <div class="constructor_blocs">
        <div class="constructor_block this--flex this--sb">
            <div class="monitoring__name this--flex">
                {{ result.name_group }}
            </div>

            <a href="{% url 'create_search_item' %}" class="btn">Добавить</a>
        </div>
    </div>
    <div class="constructor_blocs">
        <div class="constructor_block">
            <div class="monitoring">
                <div class="monitoring__wrapper">
                    <div class="monitoring__data">
                        <table class="monitoring__table">
                            <thead class="monitoring__thread">
                            <tr class="monitoring__tr">
                                <th class="monitoring__th">№</th>
                                <th class="monitoring__th">Название</th>
                                <th class="monitoring__th">Лайки</th>
                                <th class="monitoring__th">Комментарии</th>
                                <th class="monitoring__th">Репосты</th>
                                <th class="monitoring__th">Счёт</th>
                            </tr>
                            </thead>
                            <tbody class="monitoring__tbody">

                            {% for search_item in result.search_items %}
                                <tr class="monitoring_tr">
                                    <td class="monitoring_td">
                                        {{ forloop.counter }}
                                    </td>
                                    <td class="monitoring_td">
                                        {{ search_item.search_item.name }}
                                    </td>
                                    <td class="monitoring_td">
                                        {{ search_item.likes }}
                                    </td>
                                    <td class="monitoring_td">
                                        {{ search_item.comments }}
                                    </td>
                                    <td class="monitoring_td">
                                        {{ search_item.reposts }}
                                    </td>
                                    <td class="monitoring_td">
                                        {{ search_item.score }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
