{% extends 'base.html' %}

{% block content %}
    <div class="constructor_blocs" >
        <div class="constructor_bloc this--flex this--sb">
            <h1 class="sign__title">Мониторинг</h1>
             <form action="{% url 'get_vk_api' %}" class="monitoring_form" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn">Получить данные</button>
            </form>
        </div>
    </div>
    {#   {% include 'components/forms/analysed_item_form.html' %}#}
    <div class="constructor_blocs">
        <div class="constructor_bloc">
            <ul class="monitoring_menu">
                {% for item in monitoring_menu %}
                    <li class="monitoring_menu__item">
                        <a href="/monitoring/{{ item.url }}" class="monitoring_menu__link">{{ item.title }}</a>
                    </li>
                {% endfor %}
                <li class="monitoring_menu__item">
                    <a href="/vk/users" class="monitoring_menu__link">Пользователи</a>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}