.btn {
    background-color: rgb(102, 103, 103);
    border: 1px solid rgb(102, 103, 103);
    border-radius: 17px;
    color: #fff;
    cursor: pointer;
    min-height: 48px;
    padding: 4px 4.5rem;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    font-size: 22px;
    font-weight: 700;
    transition: .15s;

    &:hover {
        background-color: rgb(58, 59, 59);
    }
}