.constructor_blocs {

    &.this--flex {
        display: flex;
        margin-left: -25px;
    }

    &.this--left {
        display: flex;
        justify-content: flex-start;
    }

    &.this--a_c {
        align-items: center;
    }

    &.this--right {
        display: flex;
        justify-content: flex-end;
    }

    &.this--sb {
        justify-content: space-between;
    }

    &.this--wrap {
        flex-wrap: wrap;
    }
}

.constructor_block {
    width: 100%;
    margin-bottom: 25px;
    background-color: #fff;
    padding: 12px;
    border-radius: 8px;

    &.this--flex {
        display: flex;
    }

    &.this--t_l_b_r_0 {
        border-top-left-radius: 0;
    }

    &.this--b_b_r_0 {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    &.this--sb {
        justify-content: space-between;
    }

    &.this--inline {
        display: inline;
        width: auto;
        margin: 0;
    }

    @media (--tablet2Max) {
        &.this--80_p {
            width: 80%;
        }

        &.this--1_2 {
            width: calc(50% - 25px);
            margin-left: 25px;
        }

        &.this--1_3 {
            width: calc(33.3333% - 25px);
            margin-left: 25px;
        }
    }


    @media (--tablet2) {
        &.this--80_p,
        &.this--1_2,
        &.this--1_3 {
            width: 100%;
        }
    }
}