{% extends 'base.html' %}

{% block content %}
    <div class="constructor_blocs">
        <div class="constructor_block this--flex this--sb">
            <h1 class="sign__title">{{ title }}</h1>
            <a href="{% url 'group_search_items_form' %}" type="submit" class="btn">Добавить группу</a>
        </div>
    </div>
    {#   {% include 'components/forms/search_item_form.html' %}#}
    <div class="constructor_blocs">
        <div class="constructor_block">
            {% include 'components/page_menu.html' %}
        </div>
    </div>

{% endblock %}