.sign__title {
    color: #3b6fa2;
}

.auth {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.auth__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth__form {
    width: 60%;
}

.auth__label {
    display: block;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 5px;
}

.auth__input {
    margin-bottom: 25px;
}

.auth__sing_link_block {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.auth__sing_link {
    font-size: 24px;
    font-weight: 600;
    color: #5090d5;
    text-decoration: none;
}

.auth__btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.logout {
    position: absolute;
    top: 20px;
    right: 40px;
    display: flex;
    align-items: center;
}

.logout__login {
    font-weight: 600;
    font-size: 24px;
}

.logout__separator {
    font-weight: 700;
    font-size: 28px;
    margin: 0 10px;
}

.logout__link {
    font-weight: 600;
    font-size: 24px;
    text-decoration: none;
    color: #5090d5;
    transition: .15s;

    &:hover {
        color: #426eaf;
    }
}