<div class="monitoring">
    <div class="monitoring__wrapper">
        <div class="monitoring__data">
            <table class="monitoring__table">
                <thead class="monitoring__thread">
                <tr class="monitoring__tr">
                    <th class="monitoring__th">№</th>
                    <th class="monitoring__th">Имя</th>
                    <th class="monitoring__th">Активность</th>
                </thead>
                <tbody class="monitoring__tbody">
                {% for vk_user in vk_users %}
                    <tr class="monitoring_tr">
                        <td class="monitoring_td">
                            {{ forloop.counter }}
                        </td>
                        <td class="monitoring_td">
                            {{ vk_user.first_name }} {{ vk_user.last_name }}
                        </td>
                        <td class="monitoring_td">
                            {{ vk_user.vk_user_summary.score }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>