{% extends "base.html" %}

{% block content %}
    {% for item in result %}
        <h1>{{ item.group.ru_name }}</h1>
        <div class="monitoring">
            <div class="monitoring__wrapper">
                <div class="monitoring__data">
                    <table class="monitoring__table">
                        <thead class="monitoring__thread">
                        <tr class="monitoring__tr">
                            <th class="monitoring__th">№</th>
                            <th class="monitoring__th">Название</th>
                            {% if item.group.level > 1 %}
                                <th class="monitoring__th">Родитель</th>
                            {% endif %}
                            <th class="monitoring__th"></th>
                        </tr>
                        </thead>
                        <tbody class="monitoring__tbody">
                        {% for analyzed_item in item.analyzed_items %}
                            <tr class="monitoring_tr">
                                <td class="monitoring_td">
                                    {{ forloop.counter }}
                                </td>
                                <td class="monitoring_td">
                                    {{ analyzed_item.name }}
                                </td>
                                {% if analyzed_item.parent %}
                                    <td class="monitoring_td">
                                        {{ analyzed_item.parent }}
                                    </td>
                                {% endif %}
                                <td class="monitoring_td">
                                    <a href="{% url 'edit_analyzed_item' id=analyzed_item.id %}" class="btn_dashed">Изменить</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}